@import "@/ui/GlobalStyles/mixins/mq.scss";
@import "@/ui/GlobalStyles/variables.scss";

.headerWrp {
  width: 100%;
  padding: 0 40px;

  @include mqMaxWidth($screen-1100) {
    padding: 0;
  }
}

.navigation {
  width: 100%;
  text-transform: uppercase;
  font-size: 18px;
}

.pullthetrigger {
  display: none;

  @include mqMaxWidth($screen-1100) {
    &:checked {
      ~ label .cheeseburger {
        display: none;
      }
      ~ .navigationCollection {
        display: block;

        .doublecheeseburger {
          display: block;
        }
      }
    }
    &:not(:checked) {
      ~ .navigationCollection {
        display: none;
      }

    }
  }
}

.navigationCollection {
  @include mqMaxWidth($screen-1100) {
    display: none;
  }
}

.cheeseburger {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 33px 39px;
  width: 36px;
  height: 36px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    top: 1px;
  }

  svg {
    cursor: pointer;

    path {
      stroke: #FFFFFF;
    }
  }

  @include mqMaxWidth($screen-1100) {
    display: block;
  }
}

.doublecheeseburger {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 42px 39px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  z-index: 100;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    top: 1px;
  }

  svg {
    cursor: pointer;
    fill: #fff;
  }
}

.navigationOverlay {
  @include mqMaxWidth($screen-1100) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(19 11 9 / 80%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }

  .navigationOverlayContent {
    @include mqMaxWidth($screen-1100) {
      text-align: center;
    }
  }
}


.lsdBackground {
  display: none;

  @include mqMaxWidth($screen-1100) {
    display: block;
    z-index: 80;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #cc3700, #cc00cc, #00cccc, #cccc00, #cc5037);
    background-size: 300% 300%;
    mix-blend-mode: color-dodge; // Adds a surreal blend of colors
    animation: colorShift 5s infinite linear;
  }
}

@keyframes colorShift {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(240deg);
  }
}

.navigationItem {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 25px;

  a {
    font-size: 21px;
    color: #6C757D;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    text-underline: none;
    padding-bottom: 4px;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    @include mqMaxWidth($screen-1100) {
      font-size: 24px;
      color: #fff;
    }
  }

  &:hover {
    opacity: 0.7;

    @include mqMaxWidth($screen-1100) {
      transform: scale(1.10);
      opacity: 1;
    }
  }

  &:active {
    @include mqMaxWidth($screen-1100) {
      position: relative;
      top: 1px;
    }
  }

  &.active {
    a {
      color: #eee;
      border-bottom: 2px solid #eee;

      @include mqMaxWidth($screen-1100) {
        color: #ffff07;
        //color: #ffb800;
        border-bottom: 2px solid transparent;
        transform: scale(1.05);
      }
    }
  }
}

