@import "@/ui/GlobalStyles/mixins/mq.scss";
@import "@/ui/GlobalStyles/variables.scss";

.container {
  max-width: 790px;
}

.content {
  text-align: left;
  color: #eee;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -1px;
  font-weight: 600;
}

.twocolumns {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  @include mqMaxWidth($screen-830) {
    display: block;
  }
}

.column {
  width: 50%;
  float: left;

  @include mqMaxWidth($screen-830) {
    width: 100%;
    display: block;
    float: none;

    p {
      padding-right: 0 !important;
    }
  }

  p {
    padding-right: 40px;
  }

  &:last-child {
    p {
      padding-right: 0;
    }
  }
}

.footer {
  content: "";
  display: table;
  clear: both;
}
