@import "@/ui/GlobalStyles/mixins/mq.scss";
@import "@/ui/GlobalStyles/variables.scss";

.sample {
  display: grid;
  position: relative;
  grid-template-columns: 50% 50%;
  grid-template-areas: "content demo";

  @include mqMaxWidth($screen-1100) {
    display: block;
  }
}

.demo {
  grid-area: demo;
  position: sticky;
  top: 0;
  height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  @include mqMaxWidth($screen-1100) {
    margin: 0 -40px;
  }

  model-viewer::part(default-progress-bar) {
    height: 4px;
    background: linear-gradient(90deg, #FFFF00, #ADFF2F, #FF69B4, #FFD700 70%, #FFD300 90%);
  }
}

.content {
  grid-area: content;
  position: relative;
  padding-top: 112px;
  padding-right: 60px;
  padding-bottom: 112px;
  border-right: 1px solid rgba(108, 117, 125, 0.06);

  @include mqMaxWidth($screen-1100) {
    padding-right: 0px;
    padding-bottom: 40px;
    border-right: 0;
    padding-top: 56px;
  }
}

.count {
  border-radius: 16px;
  padding: 0 14px;
  background-color: transparent;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #797e81;
  display: inline-block;
  letter-spacing: -1px;
  color: #797e81;
  vertical-align: middle;

  @include mqMaxWidth($screen-1245) {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
