.sample {
  display: grid;
  position: relative;
  grid-template-columns: 50% 50%;
  grid-template-areas: "content demo";
}

.demo {
  grid-area: demo;
  position: sticky;
  top: 0;
  height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.content {
  grid-area: content;
  position: relative;
  padding-top: 112px;
  padding-right: 60px;
  padding-bottom: 112px;
  border-right: 1px solid rgba(108, 117, 125, 0.06);
}

.count {
  border-radius: 16px;
  padding: 0 14px;
  background-color: transparent;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #797e81;
  display: inline-block;
  letter-spacing: -1px;
  color: #797e81;
  vertical-align: middle;
}
