@use "sass:meta";

$min-width: 340px;

$font-primary: "Poppins", sans-serif;
$font-secondary: "Montserrat", sans-serif;

$screen-1300: 1300px;
$screen-1245: 1245px;
$screen-1100: 1100px;
$screen-830: 830px;
