@import "@/ui/GlobalStyles/mixins/mq.scss";
@import "@/ui/GlobalStyles/variables.scss";

.modelContent {
  padding: 0 10px;
  text-align: center;
  display: block;
  border-radius: 4px;
}

.modelItem {
  padding: 10px 5px 40px 5px;
  flex: 0 0 33%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 6px;

  img {
    height: 300px;
    object-fit: cover;
  }

  &:hover {
    .title {
      border: 1px solid transparent; /* Set the border size and make it transparent */
      color: #000;
      background: #fff;
    }

    .count {
      border: 1px solid #fff;
      color: #fff;
    }
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.wrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;

  @include mqMaxWidth($screen-1100) {
    justify-content: center;
  }
}

.albumCover {
  position: relative;
}

.footer {
  width: 100%;
}

.title {
  border-radius: 16px;
  padding: 0 14px;
  background-color: transparent;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  letter-spacing: -1px;
}

.count {
  border-radius: 16px;
  padding: 0px 14px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #797e81;
  display: inline-block;
  letter-spacing: -1px;
  color: #797e81;
}
